.footer {
    background-color: #365b80;
    color: $color-white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    line-height: 1.5;
  
    @include media-mobile {
      font-size: 12px;
      padding: 15px;
    }
  }
  