$font-family-main: "Roboto", sans-serif;
$font-size-main: 16px;
$caps: uppercase;
$text400: 400;
$color-darkblue: #34547a;
$color-white: white;
$letter-spacing-all: 1px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;